.card {
    padding: 0;
    margin: 0;
    height: 330px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.card h2 {
    padding: 15px 15px 5px 15px;
    font-size: 18px;
    font-weight: 600;
}
.itemList {
    padding: 0 15px;
    height: 280px;
    /* 溢出隐藏 */
    overflow: hidden;
    overflow-y: auto;
    /* 滚动条样式 */
    scrollbar-width: none;
}
.itemList::-webkit-scrollbar {
    display: none;
}
.item {
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* 背景图片溢出 */
    overflow: hidden;
}
.item:hover {
    background-color: #f0f0f0;
}
